<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="post" action="/">
      <h3>Enter your phrase:</h3>
      <input type="text" name="user_phrase">
      <input type="submit" value="PigLatinize!" id="submit">
    </form>
  </body>
</html>